<section id="wrapper">
<div class="licence">
    <ul>
  <li><p><center>
    <a href="https://indieweb.org/">
      <img src="/gfx/logos/indieweb-badge.png" width="80" height="15" style="image-rendering:pixelated;"></a>
  </li>
  <li>
    <a href="https://indieweb.org/Webmention">
      <img src="/gfx/logos/webmention-badge.png" width="80" height="15" style="image-rendering:pixelated;"></a>
  </li>
  <li>
    <a href="http://microformats.org">
      <img src="/gfx/logos/microformats-badge.png" width="80" height="15" style="image-rendering:pixelated;"></a>
  </li>
    <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;width:80px;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a></center></p></li>
    </ul>
    <ul><li><p><center>This site and its content by <a xmlns:cc="http://creativecommons.org/ns#" href="https://roelwillems.com" property="cc:attributionName" rel="cc:attributionURL">Roel Willems</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</center></p></li></ul>
    <ul><li><p><center><a xmlns:dct="http://purl.org/dc/terms/" href="https://roelwillems.com" rel="dct:source">https://roelwillems.com</a></center></p></center></p></li></ul>
</div>
</section>